<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="git" />
  <package id="gh" />
  <package id="bun" />
  <package id="nvm" />
  <package id="biomejs-cli" />
  <package id="pnpm" />
  <package id="yarn" />
  <package id="warp-terminal" />
  <!-- <package id="oh-my-posh" /> -->
  <package id="vscode" />
  <!-- <package id="firefox" /> -->
  <package id="zen-browser" prerelease="true" />
  <package id="microsoft-edge" />
  <package id="postman" />
  <package id="insomnia-rest-api-client" />
  <!-- <package id="bruno" /> -->
  <!-- <package id="notion" /> -->
  <!-- <package id="slack" /> -->
  <!-- <package id="discord" /> -->
  <package id="wget" />
  <package id="7zip" />
</packages>

<!-- Feel free to uncomment, remove or add more packages -->